<% @tasks.each do |task| %>
  <h3><%= link_to task.title, task_path(task)%></h3>
  <h4><%= task.details %></h4>
  <h5>Completed: <%= task.completed %></h5>
<% end %>

<%= link_to "Create new task", new_task_path %>
